.item {
    list-style-type: none;
    margin: 6px;
    background: lightblue;
    padding: 12px;
    border-radius: 6px;
}

.addButton {
    margin: 6px;
    padding: 6px 36px;
    color: white;
    border-radius: 6px;
    background: lightblue;
    font-size: 150%;
    -webkit-appearance: none;
    -moz-appearance: none;
}